.card {
  &__image {
    height: 180px;
    padding: 10px;
    width: auto !important;
    margin: auto;
  }
  &__title {
    font-size: 1rem !important;
    color: #040303;
  }
  &__action {
    justify-content: center;
    padding: 8px 16px 10px !important;
    &--addToCart {
      width: 100%;
      padding: 8px 15px !important;
    }
  }
}