.left-menu {
  max-width: 17vw;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 10px 3px lightgrey;
  &__top {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 0 2rem;
    img {
      width: 90px;
      height: 90px;
    }
    h5 {
      font-size: 1.6rem !important;
      font-weight: 600 !important;
      font-style: italic;
      margin: 0 0 0 15px !important;
    }
  }
}
