.carousel {
  max-width: 95vw;
  margin: auto;
  margin-top: 7rem;
  margin-bottom: 2rem;
  &__slider {
    max-height: 500px;
    &--image {
      max-height: 510px;
      width: 100%;
      object-fit: fill;
    }
  }
  .slick-list {
    position: relative;
    z-index: -1;
  }
}

@media screen and (min-width: 1441px) and (max-width: 2560px){
  .carousel {
    &__slider {
      max-height: 700px;
      &--image {
        max-height: 700px;
      }
    }
  }
}