.profile {
  max-width: 60vw;
  width: 100%;
  margin: auto;
  margin-top: 7rem;
  display: flex;

  &__left {
    max-width: 20vw;
    width: 100%;
  }

  &__right {
    max-width: 40vw;
    min-height: 50vh;
    width: 100%;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    margin: 0 0 1rem 0;
  }
}

.show-profile {
  &__form {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    &--item {
      width: 80%;
      margin: 1rem 0 0.5rem;

      .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
        width: 100%;
      }
    }

    &__group-btn {
      display: flex;

      &--btn-save {
        background: linear-gradient(
          to right,
          #09d2de,
          #8568ed,
          #f504fe
        ) !important;
        color: #fff !important;
        text-transform: capitalize !important;
        font-size: 1.1rem !important;
        border-radius: 5px !important;
        width: 100px;
      }
      &--change-password {
        border: 1px solid #000 !important;
        margin: 0 0 0 1rem !important;
        color: #000 !important;
        width: 200px;
        transition: all .5s ease-in-out !important;
        &:hover {
          background: #000 !important;
          color: #fff !important;
        }
      }
    }
  }
  &__modal-popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: 28vh;
    margin: 1rem 0;
  }
}

@media screen and (min-width: 1440px) and (max-width: 2560px){
  .profile {
    max-width: 75vw;
    &__right {
      max-width: 55vw;
      margin: 0 0 1rem 1rem;
    }
  }
}
