.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  padding: 0 3rem;
  box-shadow: 0px 0px 10px 0px #858282;
  &__left {
    text-decoration: none;
    font-size: 1.2rem;
    width: 20vw;
    text-align: center;
    & h2 {
      font-size: 1.7rem;
      height: 100%;
      line-height: 4.5rem;
      color: #000;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
  &__center {
    height: 100%;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--item {
      color: #404040;
      text-decoration: none;
      background: transparent;
      font-size: 1rem;
      font-weight: 500;
      height: 100%;
      line-height: 4.5rem;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        height: 0;
        width: 0%;
        bottom: 0;
        left: 50%;
        border-bottom: 3px solid #000;
        transform: translateX(-50%);
        transition: width .3s linear;
      }
      &:hover:after {
        width: 100%;
      }
    }
    & .active {
      border-bottom: 3px solid #000;
      color: red;
    }
  }
  &__right {
    display: flex;
    height: 100%;
    align-items: center;
    max-width: 20vw;
    & button {
      color: #c4c4c4;
    }
    &__cart {
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      height: 100%;
      align-items: center;
      color: #000;
      &--info {
        & p {
          margin: 0;
          &:nth-child(1) {
            text-align: center;
          }
        }
      }
    }
    &__menu {
      &--item {
        text-decoration: none;
        color: #000;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 1024px){
  .header {
    &__left {
      width: 15vw;
      & h2 {
        font-size: 1.2rem;
      }
    }
    &__right {
      max-width: 20vw;
    }
  }
}
