.header-mobile {
  display: flex;
  height: 3rem;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 0px #858282;
  &__menu {
    color: #000 !important;
    font-size: 2rem;
    width: auto;
  }
  &__left {
    & h2 {
      font-size: 1.5rem;
      color: #000;
      font-weight: 600;
    }
  }
  &__right {
    &--user {
      display: none !important;
    }
    &__cart {
      width: 50px;
      height: 50px;
      display: block;
      position: relative;
      color: #000;
      &--icon {
        position: absolute;
        font-size: 32px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      & p {
        position: absolute;
        top: -35%;
        right: 0%;
        font-size: 18px;
      }
    }
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  padding: 0 3rem;
  box-shadow: 0px 0px 10px 0px #858282;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #fff;
  &__left {
    text-decoration: none;
    font-size: 1.2rem;
    width: 20vw;
    text-align: center;
    & h2 {
      font-size: 1.7rem;
      height: 100%;
      line-height: 4.5rem;
      color: #000;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
  &__center {
    height: 100%;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--item {
      color: #404040;
      text-decoration: none;
      background: transparent;
      font-size: 1rem;
      font-weight: 500;
      height: 100%;
      line-height: 4.5rem;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        height: 0;
        width: 0%;
        bottom: 0;
        left: 50%;
        border-bottom: 3px solid #000;
        transform: translateX(-50%);
        transition: width 0.3s linear;
      }
      &:hover:after {
        width: 100%;
      }
    }
    & .active {
      border-bottom: 3px solid #000;
      color: red;
    }
  }
  &__right {
    display: flex;
    height: 100%;
    align-items: center;
    max-width: 20vw;
    & button {
      color: #c4c4c4;
    }
    &__cart {
      width: 50px;
      height: 50px;
      display: block;
      position: relative;
      color: #000;
      &--icon {
        position: absolute;
        font-size: 32px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      & p {
        position: absolute;
        top: -45%;
        right: -30%;
        font-size: 18px;
        background: #e32f2f;
        color: #fff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
      }
    }
    &__menu {
      &--item {
        text-decoration: none;
        color: #000;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    &__left {
      width: 15vw;
      & h2 {
        font-size: 1.2rem;
      }
    }
    &__right {
      max-width: 20vw;
    }
  }
}
